<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Managementul farmaciei</title>
    <link rel="stylesheet" href="css/error.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/functions.js}"></script>
</head>
<body>
<div id="homeButton"><a href="/home">Acasa</a></div>
<div id="messageBox">Fisierul selectat pentru vizualizare nu respecta schema impusa!</br> Incearca folosind un fisier bine definit!</div>
</body>
</html>